.ui-field
  display: block
  font-size: 1em

  &__native
    display: block
    line-height: 2em
    font-size: 1em
    width: 100%
    box-sizing: border-box
    padding: 0 .5em
    border: 1px solid #333

    &:focus
      outline: none

  &__label
    display: block

.ui-button
  background-color: #24292e
  border: none
  cursor: pointer
  color: #fff
  font-size: 1em
  line-height: 2em
  padding: 0 1.25em

  &:focus
    outline: none
